.post {
  margin-top: 1.6rem;
  background: $white;

  &__header {
    display: flex;
    align-items: center;
    padding: .6rem 1.2rem;
    border-bottom: 1px solid $light-gray;
  }

  &__image {
    width: 6rem;
    height: 6rem;
  }

  &__username {
    font-size: 2rem;
    margin: 0;
    margin-left: 1.2rem;
  }

  &__body {
    padding: 1.2rem;
  }

  &__content {
    font-size: 1.6rem;
    margin: 0;
  }

  @include tablet-small {
    &__header {
      padding: .5rem 1rem;
    }

    &__image {
      width: 5rem;
      height: 5rem;
    }

    &__username {
      font-size: 1.8rem;
      margin-left: 1rem;
    }

    &__body {
      padding: 1rem;
    }

    &__content {
      font-size: 1.5rem;
    }
  }

  @include phone {
    &__header {
      padding: .4rem 1rem;
    }

    &__image {
      width: 4rem;
      height: 4rem;
    }

    &__username {
      font-size: 1.7rem;
    }

    &__content {
      font-size: 1.4rem;
    }
  }
}