.button {
  margin: .4rem .4rem 0;
  width: 10rem;
  padding: .6rem;
  background: $white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;

  &--primary {
    border: 2px solid $yankees-blue;
    color: $yankees-blue;

    &:hover {
      color: $white;
      background: $yankees-blue;
    }
  }

  &--danger {
    border: 2px solid $red;
    color: $red;

    &:hover {
      color: $white;
      background: $red;
    }
  }
}