// resetting
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 62.5%;
  background-color: lighten($iceberg, 30);
}

// container
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: $md) {
  .container {
    width: $md - 20px;
  }
}
@media (min-width: $lg) {
  .container {
    width: $lg - 20px;
  }
}
@media (min-width: $xl) {
  .container {
    width: $xl - 20px;
  }
}

// other
.hide-on-sm {
  display: block;
  @media screen and (max-width: $sm) {
    display: none;
  }
}